.about-container{
    height: calc(100% - 60px);
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    .content-container{
        min-width: 250px;
        width: 80%;
        margin-bottom: 50px
    }
    .header{
        @apply text-3xl font-[500] m-[10px] text-center mt-[40px];
    }
    .content{
        margin-top: 30px;
    }
}