<div class="about-container">
    <div class="content-container">
        <p class="header">About Me</p>
        <p class="content">
            I am a passionate and experienced Front-End Developer with three years of hands-on expertise in both Angular and React. Continuously striving for knowledge, I am always eager to learn and explore new technologies, particularly in the field of machine learning. My enthusiasm for technology keeps me constantly updated with the latest trends and innovations in the tech world.
            <br> <br>
            In addition to my professional pursuits, I am a tech enthusiast who enjoys delving into various creative outlets. Photography, cinematography, and editing are among my cherished hobbies, and I make it a point to practice these skills whenever I have free time. 
            <br> <br>
            My interests don't end there—I am also an avid car enthusiast and gamer, with a love for road trips and discovering the unknown. This blend of technical prowess and diverse passions makes me a well-rounded individual, always ready to embrace new challenges and experiences.
        </p>
    </div>
</div>