.nav-bar-container {
  .nav-bar {
    @apply bg-black flex flex-row h-[80px];  
    border-bottom: 1px rgba(255, 255, 255, 0.233) solid;
    justify-content: flex-end;
    &.button{
      @apply bg-black md:flex flex-row h-[80px] hidden;  
    }
    &.home {
      @apply hidden md:flex flex-1;
      justify-content: flex-start !important;
      .home-button {
        @apply text-white;
        align-self: center;
        margin-left: 30px;
        scale: 1.5;
        &:hover {
          scale: 1.7;
          cursor: pointer;
        }
        &.active{
          border-bottom: 2px white solid;
        }
      }
    }
    &.hamburger{
      @apply md:hidden flex flex-1;
      justify-content: flex-start !important;
      .hamburger-button {
        @apply text-white;
        align-self: center;
        margin-left: 30px;
        scale: 1.7;
      }
    }
    .nav-button {
      text-align: center;
      color: white;
      align-self: center;
      background-color: transparent;
      margin-right: 10px;
      min-width: 100px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      &:hover {
        font-weight: 800;
        cursor: pointer;
        background-color: transparent;
        text-shadow: 2px 2px 5px white;
      }
      &.active{
        text-shadow: 2px 2px 5px white;
      }
    }
  }
}
