.nav-bar{
    @apply bg-black flex flex-row h-[80px];
    .buttons-container{
        align-self: center;
        margin-left: auto;
    }
    .nav-button{
        text-align: center;
        color: white;
        align-self: center;
        background-color: transparent;
        margin-right: 10px;
        min-width: 100px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        &:hover{
            font-weight: 800;
            cursor: pointer;
            font-style: underline;
            background-color: transparent;
            text-decoration-line: underline;      
        }
    }
}