.contact-container{
    height: calc(100% - 80px);
    width: 100%;
    background-color: black;
    color: white;
    overflow: auto;
    .header{
        @apply text-3xl font-[500] m-[10px] text-center mt-[40px];
    }
    .socials-container{
        @apply flex flex-row justify-center items-center p-5 flex-wrap;
        width: 100%;
        img{
            @apply m-[20px] md:m-[30px] lg:m-[50px];
            width: 40px;
            position: relative;
            cursor: pointer;
            &:hover{
                @apply lg:w-[50px] lg:m-[45px] md:w-[50px] md:m-[25px]
            }
        }
    }
    .contact-form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      input, textarea{
        @apply border-none focus:border-solid focus:border focus:border-blue-500 transition-all duration-300;
        color: black;
        padding: 10px;
        width: 100vh;
        max-width: 350px;
        height: 35px;
        border-radius: 30px;
        outline: none;
      }
      textarea{
        height: 90px;
        color: black;
      }
    }
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: black;
    z-index: 1000;
  }
  
  .spinner {
    border: 8px solid white;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .submit-button{
    @apply transition-all duration-300;
    background: #3498db;
    font-weight: 400;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-top: 25px;
    &:hover{
      background: #45b5ff;
      font-weight: 600;
    }
  }