.contact-container{
    height: calc(100% - 80px);
    width: 100%;
    background-color: black;
    color: white;
    overflow: auto;
    .header{
        @apply text-3xl font-[500] m-[10px] text-center;
    }
    .socials-container{
        @apply flex flex-row justify-center items-center p-5 flex-wrap;
        width: 100%;
        img{
            @apply m-[20px] md:m-[30px] lg:m-[50px];
            width: 40px;
            position: relative;
            cursor: pointer;
            &:hover{
                @apply lg:w-[50px] lg:m-[45px] md:w-[50px] md:m-[25px]
            }
        }
    }
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
  }
  
  .spinner {
    border: 8px solid white;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }