.landing-page{
    height:calc( 100vh - 80px );
    width: 100%;
    background-color: black;
    padding-top: 25px;
    .image-container{
        justify-content: center;
        justify-items: center;
        .image-shell{
            @apply bg-white rounded-full p-5 opacity-100;
            width: fit-content;
            box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
            .bitmoji{
                max-width: 300px;
            }
        }
    }
}