.landing-page {
  height: calc(100% - 80px);
  width: 100%;
  overflow: auto;
  background-color: black;
  .image-container {
    cursor: pointer;
    @apply flex flex-col justify-center items-center mt-[60px] mb-[60px];;
    .image-shell {
      opacity: 0;
      @apply transition-opacity flex justify-center items-center duration-300 ease-linear w-[250px] md:w-[350px] h-[250px] md:h-[350px];
      &.show-bitmoji {
        @apply bg-white rounded-full p-5 opacity-100;
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
        
      }
      .bitmoji {
        opacity: 0;
        @apply transition-opacity duration-700 ease-out w-[200px] md:w-[300px];
        &.show-bitmoji {
          opacity: 100;
        }
      }
    }
    .title {
      @apply text-white font-bold text-[20px] mt-[20px] transition-colors duration-500;
      animation: reveal-text 1s;
      cursor: pointer;
      .gradient {
        background: linear-gradient(
          311deg,
          #8600ff 19%,
          #b860ff 44%,
          #c5004f 82%
        );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
    }
  }
}


.paragraph{
  @apply text-white font-bold text-[15px] mt-[20px] transition-colors duration-500;
  animation: reveal-text 1s;
  cursor: pointer;
}

@keyframes reveal-text {
  from {
    scale: 0;
  }
  to {
    opacity: 1;
  }
}