<div class="landing-page">
  <div class="image-container">
    <div class="image-shell" (click)="showMore()"  [ngClass]="{'show-bitmoji': this.showBitmoji}" [ngStyle]="{'pointer-events': disablePointerevents? 'none': ''}">
    <img class="bitmoji" alt="bitmoji" [ngClass]="{'show-bitmoji': this.showBitmoji}" src={{bitmojiPath}}>
    </div>
    <div *ngIf="this.showName" class="flex flex-col justify-center items-center">
      <h1  *ngIf="!showMoreInfo" class="title">Hi, I am <span class="gradient">Deepak Rao Fletcher.</span></h1>
      <p *ngIf="showMoreInfo" class="paragraph w-[70%] xl:w-[60%] overflow-auto max-h-[100%] text-center">
      <span class="title">
        I'm a <span class="gradient">Front-end Developer</span>
      </span>
      <br/>
        <br/>
        With 3 years of experience crafting jaw-dropping UIs, I transform ideas into visually stunning realities that leave users in awe. 
        <br/>
        <br/>
        As a Front-End Developer, I harness the power of Angular and React to design interfaces that are not only beautiful but also drive innovation and enhance user experiences. Let's make the digital world a more
      </p>
    </div>
  </div>
</div>