@import 'tippy.js/dist/tippy.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.bitmoji-tooltip-class{
  background-color: #427eff !important;
  bottom: -40px;
  border-radius: 30px !important;
  &.lower{
    bottom: -75px !important;
  }
  .tippy-arrow::before{
    color: #427eff !important;
  }
}
